<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "vertical_form"}) do |f| %>
  <fieldset class='third'>
    <legend>Become a Critter</legend>
    <%= devise_error_messages! %>
    <ul>
      <li>
        <%= f.label :username %>
        <%= f.text_field :username, :class => "requiredfield" %>
      </li>
      <li>
        <%= f.label :email %>
        <%= f.email_field :email, :class => "requiredfield" %>
      </li>
      <li>
        <%= f.label :password %>
        <%= f.password_field :password, :class => "requiredfield" %>
      </li>
      <li>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "requiredfield" %>
      </li>
      <li>
        <br />
        <%= f.submit "Sign up", :class => "blue styled_button" %>
        <%= render :partial => "devise/shared/links" %>
      </li>
    </ul>
  </fieldset>
<% end %>

