<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "vertical_form"}) do |f| %>
  <fieldset class='third'>
    <legend>Sign in</legend>
    <ul>
      <li>
        <%= f.label :username %>
        <%= f.text_field :username, :class => "requiredfield" %>
      </li>
      <li>
        <%= f.label :password %>
        <%= f.password_field :password, :class => "requiredfield" %>
      </li>
      <li>
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me, :class => "obj_left" %> <%= f.label :remember_me %>
        <% end -%>
      </li>
      <li>
        <%= f.submit "Sign in", :class => "blue styled_button" %>
        <%= render :partial => "devise/shared/links" %>
      </li>
    </ul>
  </fieldset>
<% end %>

